# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- SECCIÓN FRONTEND ---
# Como el archivo está en la raíz, apuntamos a la subcarpeta
afc-frontend/node_modules/
afc-frontend/dist/
afc-frontend/dist-ssr/
*.local

# --- SECCIÓN PYTHON ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.env

# --- Editor directories and files ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?